@model IEnumerable<QuestRoom.BLL.DTOModels.RoomDTO>

@{
    /**/

    ViewBag.Title = "Quest Rooms";
}



<h2>Quest Rooms</h2>
    <div class="filters">
      <label>City</label>
    <ul id="cities">
        @foreach (var c in ViewBag.Cities)
        {
             <li> <input id="@c.Id" onchange="Click_cities(event)" type="checkbox" /> @c.Name</li>
           
        }
    </ul>
    <label>Difficulty</label>
	<ul id="lvl_diff">
	@foreach (var item in Model.GroupBy(x => x.LvlDifficulty).Select(x => x.FirstOrDefault()).OrderBy(r => r.LvlDifficulty))
        {
           <li> <input id="@item.LvlDifficulty" onchange="Click_lvlDiff(event)" type="checkbox" /> @item.LvlDifficulty </li>
  
        }
    </ul>
          <label>Fear</label>
		<ul id="lvl_fear">
	@foreach (var item in Model.GroupBy(x => x.LvlFear).Select(x => x.FirstOrDefault()).OrderBy(r => r.LvlFear))
        {
           <li> <input id="@item.LvlFear" onchange="Click_lvlFear(event)" type="checkbox" /> @item.LvlFear</li>
  
        }
    </ul>
    </div>

@*@Ajax.ActionLink(City, "RoomsByCity", new { id = @item.id }, new AjaxOptions { UpdateTargetId = "cities" })*@

<div class="container">

   
        <div id="roomsResult">
            @{
                Html.RenderPartial("RoomsByCity", Model);
            }
        </div>
      
</div>

<script >

    function Click_cities(event) {
        var city_id = event.target.id;
        console.log(city_id);
        $('#roomsResult').load('@Url.Action("RoomsByCity", "Rooms")?id='+city_id);
    }

    function Click_lvlDiff(event) {
        var lvl_id = event.target.id;
        console.log(lvl_id);
        $('#roomsResult').load('@Url.Action("RoomsByCity", "Rooms")?id='+lvl_id);
    }

    function Click_lvlFear(event) {
        var lvl_id = event.target.id;
        console.log(lvl_id);
        $('#roomsResult').load('@Url.Action("RoomsByCity", "Rooms")?id='+lvl_id);
    }
</script>