@model IEnumerable<QuestRoom.BLL.DTOModels.RoomDTO>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="card  col-lg-4 col-md-6 col-sm-12" style="width: 18rem;">
            <div class="card-img-top">
                <img class="img-fluid" src="https://picsum.photos/300/300" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">
                    @item.Description
                     <br />
                    <ul class="list-group list-group-flush">
                    Company:
                   <li class="list-group-item"> @item.Company.Name</li>
                    <br />
                    Address:
                     <br />
                    <li class="list-group-item"> 
                    @item.Address.Street.Name
                    @item.Address.City.Name
                    @item.Address.Country.Name
                    @item.Address.HouseNumber
                    </li>  </ul>
                 
                    Email : <br />
                 <li class="list-group-item"> @item.Email</li>    
                     <br />
                    Difficulty:
                    <li class="list-group-item">   @item.LvlDifficulty</li>    
                 
                    Fear: 
                     <li class="list-group-item">   @item.LvlFear</li>    
                   
                    Rating: 
                <li class="list-group-item">   @item.Rating       </li> 

                    All Time:
                  
                      <li class="list-group-item">     @item.AllTime       </li> 
                    Phone:
                 <li class="list-group-item">     @item.Phone     </li>     
                </p>
                
                    <!--<li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>-->


                <a href="@Url.Action("Buy","Rooms", new { id= item.Id})" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    }
</div>

